.about{
    header{
        position: relative;
    }

    #block{
        margin: 55px 0;
        .section_wrapper{
            width: 90%;
            height: 606px;
            margin: 0 auto;
            display:flex;
            align-items: center;
            background-color: #F7F7F7;
            box-shadow: 0 0 20px -7px #0000007a;
            .img_wrapper{
                width: 50%;
                height: 100%;
                position: relative;
                img{
                   
                    width: 100%; 
                    height: 100%; 
                    object-fit: cover; 
                    // object-position: 50% 50%;
                }
            }

            .desc_wrapper{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .content{
                    position: relative;
                    margin: 0 50px;

                    .title{
                        
                        
                        h1{
                            font-size: 40px;
                            line-height: 1.35;
                        }
                    }
    
                    .subtitle{
                        margin: 10px 0;
                        h3{
                            font-size: 18px;
                            line-height: 1.75;
                        }
                    }
    
                    .description{
                        p{
                            line-height:1.88;
                            font-size: 15px;
                        }
                    }
                }

                
            }
        }
    }


    @media (max-width: 480px ){
        .section_wrapper{
            flex-direction: column;
            padding-bottom: 15px;

            .img_wrapper{
                width: 100% !important;
                
            }

            .desc_wrapper{
                width: auto !important;
                
                .content{
                    margin: 0 25px !important;
                    padding: 10px 0;

                    .subtitle{
                        margin: 5px 0 !important;
                    }

                    .description{
                        
                        p{
                            line-height: 1.2 !important;
                        }
                    }
                }
            }
        }
    }



}

