.about{
    header{
        position: relative;
    }

    #block{
        margin: 55px 0;
        .section_wrapper{
            width: 90%;
            height: 606px;
            margin: 0 auto;
            display:flex;
            align-items: center;
            background-color: #F7F7F7;
            box-shadow: 0 0 20px -7px #0000007a;
            .image{
                width: 50%;
                height: 100%;
                position: relative;
                img{
                   
                    width: 100%; 
                    height: 100%; 
                    object-fit: cover; 
                    // object-position: 50% 50%;
                }
            }

            .desc_wrapper{
                width: 50%;
                height: 100%;
                overflow: auto;

                .content{
                    margin: 0 auto;
                    position: relative;
                    width: fit-content;
                    padding: 40px;
                    top:90px;
                    left: 40px;

                    .title{
                        word-break: normal;
                        
                        h1{
                            font-size: 40px;
                            line-height: 1.35;
                        }
                    }
    
                    .subtitle{
                        width:fit-content;
                        margin: 10px 0;
                        h3{
                            font-size: 18px;
                            line-height: 1.75;
                        }
                    }
    
                    .description{
                        width: 460px;
                        height: 253px;
                        
                        p{
                            line-height:1.88;
                            font-size: 15px;
                        }
                    }
                }

                
            }
        }
    }


}

