.contact{

    overflow-x: hidden;

    header{
        position: relative;
    }


    .contact_wrapper{
        width: 90%;
        height: 646px;
        margin: 0 auto;

        background-color: aqua;   
        
    }

}