.home{
    overflow-x: hidden;
    header{
        color:#d1d4d6;
        background-color: transparent !important;
        backdrop-filter:blur(10px);
        border: none;

        

        &.solid{
            background-color:#d1d4d6 !important ;
            color: black;
            
            a{
                color:black;
            }
    }

    a{
        color: #d1d4d6;
    }
}

#block{
    .banner_home{
        width: 100%;
        height: 900px;
        margin: 0 auto;
        background-image: url('../../static/images/banner_home.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color:aquamarine; 
        display:flex; 
        justify-content:center;
        align-items:center
    }

    .desc_wrapper{
        height: 530px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #37322E;

        .content{
            height: 300px;
            width: 50%;
            text-align: center;
            
            
            .icon{
                
                width: fit-content;
                height: fit-content;
                margin: 0 auto ;
            }
            .desc{
                
                width: fit-content;
                height: fit-content;
                margin: 50px auto ;
                font-size: 22px;
                line-height: 30px;
                color:white;

                .subtitle{
                    margin-top: 30px;
                    
                }
            }
        }
    }



    .carousel_wrapper{
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .owl-carousel{

            .owl-stage-outer{
                left: 30px;
            }


            .owl-item{
                width: 500px;
                height: 500px;
                
               
            }

            .owl-item.active + .owl-item.active {
                z-index: 3;
                margin-left:-30px ;
                
                
                img{
                    opacity: 1;
                }

                & ~ .owl-item.active{
                    z-index: 1;
                     
                    margin-right: 30px !important;

                    .item{
                        background-color: red;
                        
                        img{
                            opacity: 0.8;
                        }
    
                    }
                }
                .item{
                    background-color: rgba(128, 0, 128, 0.267);

                }

            }

            .item{
                background-color: red;
                height: auto;
                width: auto;
                img{
                    opacity: 0.8;
                }
            }
            
            
           
    
                    .owl-prev , .owl-next{
                        transition:  all .4s;
                        position: absolute;
                        top: 45%;
                        font-size: 60px;
                        background-color: #37322e;
                        padding: 20px;
                        
                        i:before{
                            color: white;    
                        }
                        
                        &:hover{
                            background-color:#37322e6e;
                        }
                        
                    }
                }    
            
            
        }

        }
    
    }


    



