.home{
    overflow-x: hidden;
    header{
        color:#d1d4d6;
        
        background-color: transparent !important;
        
        border: none;

        .hamburguer .line{
            background-color: #d1d4d6;
        }

        

        &.solid{
            background-color:white !important ;
            color: black;

            .hamburguer .line{
                background-color: black;
            }
            
            nav{
                background-color: white;
            }
            
            a{
                color:black;
            }
    }

    a{
        color: #d1d4d6;
    }

    nav{
        background-color: transparent ;

    }

}

#block{
    .banner_home{
        width: 100%;
        height: 900px;
        margin: 0 auto;
        display:flex; 
        justify-content:center;
        align-items:center;
        
        .title_wrapper{
            margin: 0 auto;
            width: 25%;
            position: absolute;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column ;
               
            
            h1{
                font-size: 60px;
                text-align: center;
            }

            h3{
                font-size: 40px;
                text-align: center;
            }
        }



        .img_wrapper{
            width: 100%;
            height: 100%;
            position: relative;
            z-index: -4;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }



    }

    .desc_wrapper{
        height: 530px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #37322E;
        
        .content{
            
            width: 50%;
            text-align: center;
            bottom: 10px;
            position: relative;
            
            
            .icon{
                
                width: fit-content;
                height: fit-content;
                margin: 0 auto ;
            }
            .desc{
                
                width: fit-content;
                height: fit-content;
                margin: 50px auto ;
                font-size: 22px;
                line-height: 30px;
                color:white;

                .subtitle{
                    margin-top: 30px;
                    
                }
            }
        }
    }



    .carousel_wrapper{
        width: auto;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .title_wrapper{
            position: relative;
            top: 60px;

        }
        

        .owl-carousel{
            padding: 30px 50px;
            width: 90%;
            
            
            .owl-stage-outer{
                height: 600px;
                display: grid;
                align-items: center;
                
            }

            .owl-stage{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }

            .owl-item{
                
                .see_more{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top:0;
                    width: 100%;
                    height: 100%;
                    background-color: #37322e9a;
                    z-index: 4;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .5s ease-out;
                    border-radius: 8px;
                }
            }
            
            
            
            .owl-item.active + .owl-item.active {
               
                z-index: 3;

                .item{
                    width: 140%;
                    left: -22%;
                    
                    &:hover{
                        .see_more{
                         opacity: 1;
                         visibility: visible;
                        }
                    
                }

                }
                
                & ~ .owl-item.active{
                    
                    z-index: 1;
                 

                    .item{
                        left: auto;
                        width: auto;

                        .see_more{
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                    
                }
                
                .item{                    
                    
                    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                
            }
            
            .item{
                height: 100%;
                position: relative;
                
                .mobile_a{
                    display: none;
                }
                
                img{
                    
                    box-shadow: 0 0 20px -7px #0000007a;
                    border-radius: 8px;
                    object-fit: cover;
                    
                    
                }
            }
            
            
            
            .owl-nav , .owl-nav.disabled{
                button[type="button"]{
                    transition:  all .4s;
                    position: absolute;
                    bottom: 44%;
                    font-size: 60px;
                    background-color:#37322e9e;
                    border-radius: 10px;
                    display: block !important;
    
                    i{
                        padding: 7px;
                    }
                    
                    &.owl-prev{
                        left: 10px;
                    }
                    &.owl-next{
                        right: 10px;
                    }
    
                    
                    i:before{
                                color: white;    
                            }
                            
                            &:hover{
                                background-color:#37322e;
                            }
                            
                        }

            }
                }    
            
            
        }

        }

        //arreglos mobile
        @media only screen and (min-width: 320px) and (max-width:600px){

            .banner_home{
                .title_wrapper{
                    width: 83% !important;
                    top: 285px;
                }
            }


            .desc_wrapper{
                .content{
                    bottom: -5px;
                    
                }
            }

            

            .carousel_wrapper{
                .title_wrapper{
                    top:123px !important;
                }

                .owl-carousel {
                    
                    .owl-item.active  {
                        .item{
                            
                            .mobile_a{
                                display:block !important;
                                position: relative;
                                width: fit-content;
                                margin: 0 auto;
                                top: 35px;
                
                                h3{
                                    text-decoration: none;
                                    font-size: 25px;
                                    color: #1b1e1f;
                                }
                            }

                        }
    
                        & ~ .owl-item.active{
                            
                            .mobile_a{
                                display: none !important;
                            }
                        }
    
    
                    }

                }





                .item{
                    .see_more{
                        display: none !important;
                    }
                }

                .owl-prev{
                    left: 26px !important;
                }

                .owl-next{
                    right: 27px !important;
                }
            }

        }

        @media only screen and (min-width: 768px) and (max-width:1240px) {
            .carousel_wrapper{
        

                .owl-carousel {
                    .see_more{
                        display: none !important;
                    }
                    .owl-item.active + .owl-item.active  {
                        .item{
                            
                            .mobile_a{
                                display:block !important;
                                position: relative;
                                width: fit-content;
                                margin: 0 auto;
                                top: 35px;
                
                                h3{
                                    text-decoration: none;
                                    font-size: 25px;
                                    color: #1b1e1f;
                                }
                            }

                        }
    
                        & ~ .owl-item.active{
                            
                            .mobile_a{
                                display: none !important;
                            }
                        }
    
    
                    }

                }
        }
    
    }

}


