.home{
    header{
        color:#d1d4d6;
        background-color: transparent !important;
        backdrop-filter:blur(10px);
        border: none;

        

        &.solid{
            background-color:#d1d4d6 !important ;
            color: black;
            
            a{
                color:black;
            }
    }

    a{
        color: #d1d4d6;
    }
}

#block{
    .banner_home{
        width: 100%;
        height: 900px;
        margin: 0 auto;
        background-image: url('../../static/images/banner_home.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color:aquamarine; 
        display:flex; 
        justify-content:center;
        align-items:center
    }

    .desc_wrapper{
        height: 530px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #37322E;

        .content{
            height: 300px;
            width: 50%;
            text-align: center;
            
            
            .icon{
                
                width: fit-content;
                height: fit-content;
                margin: 0 auto ;
            }
            .desc{
                
                width: fit-content;
                height: fit-content;
                margin: 50px auto ;
                font-size: 22px;
                line-height: 30px;
                color:white;

                .subtitle{
                    margin-top: 30px;
                    
                }
            }
        }
    }



    .carousel_wrapper{
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;

        .item{
            background-color: #37322E;
        }
        
        
       

                .owl-prev , .owl-next{
                    transition:  all .4s;
                    position: absolute;
                    top: 45%;
                    font-size: 60px;
                    background-color: #37322e94;
                    padding: 20px;
                    
                    &:hover{
                        background-color: #37322e94;
                        
                        
                        i:before{
                            color: white;
                        }
                    }
                    
                    i{
                        &:before{
                            color: white;
                            
                            
                        }
                    }
                }
            }    
        
        
        }
    
    }


    



