footer{
    width: 100%;
    position: absolute;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #1b1e1f;
    border-top: 1px solid #3e3a3a;
    color: #d1d4d6;
    text-align: center;
    
    
    div{
        margin: 0 auto;
        margin-top: 10px;
    }

    .social{
        width: 50%;
        font-size: 30px;
        
        a{
            margin: auto 10px;
            
            i{
                color:#d1d4d6;
            }  
        }
    }
    
}