header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 9;
    transition: all .4s;
    color:black;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
    opacity: .9;
    
    
    .hamburguer{
        display: none;
    }

    nav{
      
        
        ul{
            display: flex;
            list-style: none;
            text-decoration: none;
            
            li{
                line-height: 40px;
                
                transition: all .4s;
                
                a{
                    display: block;
                    padding: 0px 25px; 
                    color: black;
                    font-weight: bold;
                    font-size: 17px;
                    transition: all .4s;
                } 

                &:hover{
                    border-bottom:1px solid red;
                    
                    // opacity: .6;
                    a{
                        box-shadow: 10px black;
                        font-size: 20px;
                    }
                    
                    
                }
                

            }
        }
    }
    
    
    .title_wrapper{
        margin-left: 25px;    
        a{
            text-decoration: none;
            color: black;
            font-size: 28px;
            font-weight: bold;
        }
        h1{
            display: block;
            letter-spacing: 2px;
            float:left;
            color:#2ba977 ;
            font-weight: 500;
            // margin-top: 40px;
        }

       
    }
    
    
}



@media only screen and (max-width: 900px){
   .hamburguer{
    display: block !important;
    cursor: pointer;
    margin-right: 25px;
   }

   .hamburguer .line{
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
   }

   nav{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: white;
        transition: all .5s;
        overflow: hidden;

        ul{
            display: block !important;
            width: fit-content;
            margin: 88px auto 0 auto;
            text-align: center;
            transition: all .5s;
            opacity: 0;

            li{
                a{
                    margin-bottom: 12px;
                }
            }
        }
   }



    nav.active{
        height: 450px;

        ul{
            opacity: 1;
        }

   }


}