header{
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;

    nav{
        display: block;
        height:fit-content;
        padding-right: 150px;
        font-size: 15px;
        display: flex;    
        justify-content: center; 
        align-items: center;
        
        
    
        ul{
            // background-color: green;
            display: block;
            float: right;
            list-style: none;
            text-decoration: none;
    
            li{
                // background-color: red;
                line-height: 40px;
                float: left;

    
                a{
                    display: block;
                    padding: 0 35px; 
                    color: black;
                    transition: all .6s;
    
                    &:hover{
                        border-bottom:1px solid red;
                        // box-shadow: 1px #444 inset ;
                        
                    }
    
                }
            }
        }
    }


    .title_wrapper{
        // width: 60%;
        // height:130px ;
        padding: 0px 85px;       
        /*logo title*/    
        h1{
            display: block;
            letter-spacing: 2px;
            float:left;
            color:#2ba977 ;
            font-weight: 500;
            // margin-top: 40px;
        }

       
    }
    
    
}



