header{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    transition: all .4s;
    color:#d1d4d6;
    // font-weight: 300;


    &.solid{
        background-color:#d1d4d6 ;
        opacity: .9;
        color: black;
        
        ul li a{
            color:black;
        }
    }

    nav{
        height:fit-content;
        padding-right: 65px;
        font-size: 15px;

        ul{
            list-style: none;
            text-decoration: none;
    
            li{
                line-height: 40px;
                float: left;
                
                &:hover{
                    border-bottom:1px solid red;
                    
                }
    
                a{
                    padding: 0px 35px; 
                    color: #d1d4d6;
                    font-weight: bold;
                    font-size: 17px;
                }
            }
        }
    }


    .title_wrapper{
        // width: 60%;
        // height:130px ;
        padding: 0px 85px;       
        /*logo title*/    
        h1{
            display: block;
            letter-spacing: 2px;
            float:left;
            color:#2ba977 ;
            font-weight: 500;
            // margin-top: 40px;
        }

       
    }
    
    
}




