/* line 1, ../../templates/sass/generic/_header.scss */
header {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  transition: all .4s;
}
/* line 14, ../../templates/sass/generic/_header.scss */
header.solid {
  background-color: #d1d4d6;
}
/* line 18, ../../templates/sass/generic/_header.scss */
header nav {
  height: fit-content;
  padding-right: 150px;
  font-size: 15px;
}
/* line 23, ../../templates/sass/generic/_header.scss */
header nav ul {
  list-style: none;
  text-decoration: none;
}
/* line 29, ../../templates/sass/generic/_header.scss */
header nav ul li {
  line-height: 40px;
  float: left;
}
/* line 35, ../../templates/sass/generic/_header.scss */
header nav ul li a {
  display: block;
  padding: 0px 35px;
  color: black;
}
/* line 41, ../../templates/sass/generic/_header.scss */
header nav ul li a:hover {
  border-bottom: 1px solid red;
}
/* line 53, ../../templates/sass/generic/_header.scss */
header .title_wrapper {
  padding: 0px 85px;
  /*logo title*/
}
/* line 58, ../../templates/sass/generic/_header.scss */
header .title_wrapper h1 {
  display: block;
  letter-spacing: 2px;
  float: left;
  color: #2ba977;
  font-weight: 500;
}

/* line 2, ../../templates/sass/generic/_general.scss */
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* line 9, ../../templates/sass/generic/_general.scss */
body {
  background-color: #f2f2f2;
}

/* line 1, ../../templates/sass/generic/_footer.scss */
footer {
  background-color: #1b1e1f;
  border: 1px solid #333;
  color: #d1d4d6;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0px 0px 20px;
  display: block;
  justify-content: center;
}
/* line 14, ../../templates/sass/generic/_footer.scss */
footer div {
  margin: 0 auto;
  width: 30%;
  margin-top: 10px;
}
/* line 20, ../../templates/sass/generic/_footer.scss */
footer .social {
  width: 50%;
  font-size: 30px;
}
/* line 24, ../../templates/sass/generic/_footer.scss */
footer .social a {
  margin: auto 10px;
}
/* line 27, ../../templates/sass/generic/_footer.scss */
footer .social a i {
  color: #d1d4d6;
}

/* line 1, ../../templates/sass/generic/_content.scss */
#block {
  width: 100%;
  min-height: 930px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
}

/* line 3, ../../templates/sass/specific/_home.scss */
#block .banner_home {
  width: 100%;
  height: 640px;
  margin: 0 auto;
  background-image: url("../../static/images/hamood.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* line 13, ../../templates/sass/specific/_home.scss */
#block .description {
  height: 530px;
  background-color: purple;
}
