/* line 1, ../../templates/sass/generic/_header.scss */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9;
  transition: all .4s;
  color: black;
  background-color: white;
  border-bottom: 1px solid #e1e1e1;
  opacity: .9;
}
/* line 17, ../../templates/sass/generic/_header.scss */
header .hamburguer {
  display: none;
}
/* line 24, ../../templates/sass/generic/_header.scss */
header nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
/* line 29, ../../templates/sass/generic/_header.scss */
header nav ul li {
  line-height: 40px;
  transition: all .4s;
}
/* line 34, ../../templates/sass/generic/_header.scss */
header nav ul li a {
  display: block;
  padding: 0px 25px;
  color: black;
  font-weight: bold;
  font-size: 17px;
  transition: all .4s;
}
/* line 43, ../../templates/sass/generic/_header.scss */
header nav ul li:hover {
  border-bottom: 1px solid red;
}
/* line 47, ../../templates/sass/generic/_header.scss */
header nav ul li:hover a {
  box-shadow: 10px black;
  font-size: 20px;
}
/* line 61, ../../templates/sass/generic/_header.scss */
header .title_wrapper {
  margin-left: 25px;
}
/* line 63, ../../templates/sass/generic/_header.scss */
header .title_wrapper a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight: bold;
}
/* line 69, ../../templates/sass/generic/_header.scss */
header .title_wrapper h1 {
  display: block;
  letter-spacing: 2px;
  float: left;
  color: #2ba977;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  /* line 87, ../../templates/sass/generic/_header.scss */
  .hamburguer {
    display: block !important;
    cursor: pointer;
    margin-right: 25px;
  }

  /* line 93, ../../templates/sass/generic/_header.scss */
  .hamburguer .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
  }

  /* line 100, ../../templates/sass/generic/_header.scss */
  nav {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: white;
    transition: all .5s;
    overflow: hidden;
  }
  /* line 111, ../../templates/sass/generic/_header.scss */
  nav ul {
    display: block !important;
    width: fit-content;
    margin: 58px auto 0 auto;
    text-align: center;
    transition: all .5s;
    opacity: 0;
  }
  /* line 119, ../../templates/sass/generic/_header.scss */
  nav ul li {
    margin: 12px 0;
  }
  /* line 121, ../../templates/sass/generic/_header.scss */
  nav ul li a {
    margin-bottom: 12px;
  }

  /* line 130, ../../templates/sass/generic/_header.scss */
  nav.active {
    height: 350px;
  }
  /* line 133, ../../templates/sass/generic/_header.scss */
  nav.active ul {
    opacity: 1;
  }
}
/* line 2, ../../templates/sass/generic/_general.scss */
* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

/* line 9, ../../templates/sass/generic/_general.scss */
body {
  background-color: #f2f2f2;
}

/* line 1, ../../templates/sass/generic/_footer.scss */
footer {
  width: 100%;
  position: absolute;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #1b1e1f;
  border-top: 1px solid #3e3a3a;
  color: #d1d4d6;
  text-align: center;
}
/* line 12, ../../templates/sass/generic/_footer.scss */
footer div {
  margin: 0 auto;
  margin-top: 10px;
}
/* line 17, ../../templates/sass/generic/_footer.scss */
footer .social {
  width: 50%;
  font-size: 30px;
}
/* line 21, ../../templates/sass/generic/_footer.scss */
footer .social a {
  margin: auto 10px;
}
/* line 24, ../../templates/sass/generic/_footer.scss */
footer .social a i {
  color: #d1d4d6;
}

/* line 1, ../../templates/sass/generic/_content.scss */
#block {
  width: 100%;
  min-height: fit-content;
  margin: 0 auto;
  position: relative;
}

/* line 1, ../../templates/sass/specific/_home.scss */
.home {
  overflow-x: hidden;
}
/* line 3, ../../templates/sass/specific/_home.scss */
.home header {
  color: #d1d4d6;
  background-color: transparent !important;
  border: none;
}
/* line 10, ../../templates/sass/specific/_home.scss */
.home header .hamburguer .line {
  background-color: #d1d4d6;
}
/* line 16, ../../templates/sass/specific/_home.scss */
.home header.solid {
  background-color: white !important;
  color: black;
}
/* line 20, ../../templates/sass/specific/_home.scss */
.home header.solid .hamburguer .line {
  background-color: black;
}
@media only screen and (max-width: 900px) {
  /* line 26, ../../templates/sass/specific/_home.scss */
  .home header.solid nav {
    background-color: white;
  }
}
/* line 31, ../../templates/sass/specific/_home.scss */
.home header.solid a {
  color: black;
}
/* line 36, ../../templates/sass/specific/_home.scss */
.home header a {
  color: #d1d4d6;
}
/* line 40, ../../templates/sass/specific/_home.scss */
.home header nav {
  background-color: transparent;
}
/* line 48, ../../templates/sass/specific/_home.scss */
.home #block .banner_home {
  width: 100%;
  height: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 56, ../../templates/sass/specific/_home.scss */
.home #block .banner_home .title_wrapper {
  margin: 0 auto;
  width: 25%;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 67, ../../templates/sass/specific/_home.scss */
.home #block .banner_home .title_wrapper h1 {
  font-size: 60px;
  text-align: center;
}
/* line 72, ../../templates/sass/specific/_home.scss */
.home #block .banner_home .title_wrapper h3 {
  font-size: 40px;
  text-align: center;
}
/* line 80, ../../templates/sass/specific/_home.scss */
.home #block .banner_home .img_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -4;
}
/* line 86, ../../templates/sass/specific/_home.scss */
.home #block .banner_home .img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 97, ../../templates/sass/specific/_home.scss */
.home #block .desc_wrapper {
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37322E;
}
/* line 104, ../../templates/sass/specific/_home.scss */
.home #block .desc_wrapper .content {
  width: 50%;
  text-align: center;
  bottom: 10px;
  position: relative;
}
/* line 112, ../../templates/sass/specific/_home.scss */
.home #block .desc_wrapper .content .icon {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}
/* line 118, ../../templates/sass/specific/_home.scss */
.home #block .desc_wrapper .content .desc {
  width: fit-content;
  height: fit-content;
  margin: 50px auto;
  font-size: 22px;
  line-height: 30px;
  color: white;
}
/* line 127, ../../templates/sass/specific/_home.scss */
.home #block .desc_wrapper .content .desc .subtitle {
  margin-top: 30px;
}
/* line 137, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper {
  width: auto;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 145, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .title_wrapper {
  position: relative;
  top: 60px;
}
/* line 152, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel {
  padding: 30px 50px;
  width: 90%;
}
/* line 157, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-stage-outer {
  height: 600px;
  display: grid;
  align-items: center;
}
/* line 164, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-stage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* line 173, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-item .see_more {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #37322e9a;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-out;
  border-radius: 8px;
}
/* line 192, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-item.active + .owl-item.active {
  z-index: 3;
}
/* line 196, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-item.active + .owl-item.active .item {
  width: 140%;
  left: -22%;
}
/* line 201, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-item.active + .owl-item.active .item:hover .see_more {
  opacity: 1;
  visibility: visible;
}
/* line 210, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-item.active + .owl-item.active ~ .owl-item.active {
  z-index: 1;
}
/* line 215, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-item.active + .owl-item.active ~ .owl-item.active .item {
  left: auto;
  width: auto;
}
/* line 219, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-item.active + .owl-item.active ~ .owl-item.active .item .see_more {
  opacity: 0;
  visibility: hidden;
}
/* line 230, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-item.active + .owl-item.active .item img {
  width: 100%;
  height: 100%;
}
/* line 238, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .item {
  height: 100%;
  position: relative;
}
/* line 242, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .item .mobile_a {
  display: none;
}
/* line 246, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .item img {
  box-shadow: 0 0 20px -7px #0000007a;
  border-radius: 8px;
  object-fit: cover;
}
/* line 259, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-nav button[type="button"], .home #block .carousel_wrapper .owl-carousel .owl-nav.disabled button[type="button"] {
  transition: all .4s;
  position: absolute;
  bottom: 44%;
  font-size: 60px;
  background-color: #37322e9e;
  border-radius: 10px;
  display: block !important;
}
/* line 268, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-nav button[type="button"] i, .home #block .carousel_wrapper .owl-carousel .owl-nav.disabled button[type="button"] i {
  padding: 7px;
}
/* line 272, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-nav button[type="button"].owl-prev, .home #block .carousel_wrapper .owl-carousel .owl-nav.disabled button[type="button"].owl-prev {
  left: 10px;
}
/* line 275, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-nav button[type="button"].owl-next, .home #block .carousel_wrapper .owl-carousel .owl-nav.disabled button[type="button"].owl-next {
  right: 10px;
}
/* line 280, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-nav button[type="button"] i:before, .home #block .carousel_wrapper .owl-carousel .owl-nav.disabled button[type="button"] i:before {
  color: white;
}
/* line 284, ../../templates/sass/specific/_home.scss */
.home #block .carousel_wrapper .owl-carousel .owl-nav button[type="button"]:hover, .home #block .carousel_wrapper .owl-carousel .owl-nav.disabled button[type="button"]:hover {
  background-color: #37322e;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  /* line 302, ../../templates/sass/specific/_home.scss */
  .home .banner_home .title_wrapper {
    width: 83% !important;
    top: 320px;
  }
  /* line 310, ../../templates/sass/specific/_home.scss */
  .home .desc_wrapper .content {
    bottom: -5px;
  }
  /* line 319, ../../templates/sass/specific/_home.scss */
  .home .carousel_wrapper .title_wrapper {
    top: 123px !important;
  }
  /* line 328, ../../templates/sass/specific/_home.scss */
  .home .carousel_wrapper .owl-carousel .owl-item.active .item .mobile_a {
    display: block !important;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    top: 35px;
  }
  /* line 335, ../../templates/sass/specific/_home.scss */
  .home .carousel_wrapper .owl-carousel .owl-item.active .item .mobile_a h3 {
    text-decoration: none;
    font-size: 25px;
    color: #1b1e1f;
  }
  /* line 346, ../../templates/sass/specific/_home.scss */
  .home .carousel_wrapper .owl-carousel .owl-item.active ~ .owl-item.active .mobile_a {
    display: none !important;
  }
  /* line 361, ../../templates/sass/specific/_home.scss */
  .home .carousel_wrapper .item .see_more {
    display: none !important;
  }
  /* line 366, ../../templates/sass/specific/_home.scss */
  .home .carousel_wrapper .owl-prev {
    left: 26px !important;
  }
  /* line 370, ../../templates/sass/specific/_home.scss */
  .home .carousel_wrapper .owl-next {
    right: 27px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1240px) {
  /* line 382, ../../templates/sass/specific/_home.scss */
  .home .carousel_wrapper .owl-carousel .see_more {
    display: none !important;
  }
  /* line 388, ../../templates/sass/specific/_home.scss */
  .home .carousel_wrapper .owl-carousel .owl-item.active + .owl-item.active .item .mobile_a {
    display: block !important;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    top: 35px;
  }
  /* line 395, ../../templates/sass/specific/_home.scss */
  .home .carousel_wrapper .owl-carousel .owl-item.active + .owl-item.active .item .mobile_a h3 {
    text-decoration: none;
    font-size: 25px;
    color: #1b1e1f;
  }
  /* line 406, ../../templates/sass/specific/_home.scss */
  .home .carousel_wrapper .owl-carousel .owl-item.active + .owl-item.active ~ .owl-item.active .mobile_a {
    display: none !important;
  }
}

/* line 2, ../../templates/sass/specific/_about.scss */
.about header {
  position: relative;
}
/* line 6, ../../templates/sass/specific/_about.scss */
.about #block {
  margin: 55px 0;
}
/* line 8, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper {
  width: 90%;
  height: 606px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  box-shadow: 0 0 20px -7px #0000007a;
}
/* line 16, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .img_wrapper {
  width: 50%;
  height: 100%;
  position: relative;
}
/* line 20, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 29, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 36, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content {
  position: relative;
  margin: 0 50px;
}
/* line 43, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content .title h1 {
  font-size: 40px;
  line-height: 1.35;
}
/* line 49, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content .subtitle {
  margin: 10px 0;
}
/* line 51, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content .subtitle h3 {
  font-size: 18px;
  line-height: 1.75;
}
/* line 58, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content .description p {
  line-height: 1.88;
  font-size: 15px;
}
@media (max-width: 480px) {
  /* line 72, ../../templates/sass/specific/_about.scss */
  .about .section_wrapper {
    flex-direction: column;
    padding-bottom: 15px;
  }
  /* line 76, ../../templates/sass/specific/_about.scss */
  .about .section_wrapper .img_wrapper {
    width: 100% !important;
  }
  /* line 81, ../../templates/sass/specific/_about.scss */
  .about .section_wrapper .desc_wrapper {
    width: auto !important;
  }
  /* line 84, ../../templates/sass/specific/_about.scss */
  .about .section_wrapper .desc_wrapper .content {
    margin: 0 25px !important;
    padding: 10px 0;
  }
  /* line 88, ../../templates/sass/specific/_about.scss */
  .about .section_wrapper .desc_wrapper .content .subtitle {
    margin: 5px 0 !important;
  }
  /* line 94, ../../templates/sass/specific/_about.scss */
  .about .section_wrapper .desc_wrapper .content .description p {
    line-height: 1.2 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 920px) {
  /* line 109, ../../templates/sass/specific/_about.scss */
  .tablet footer {
    bottom: 0;
  }
}

/* line 1, ../../templates/sass/specific/_contact.scss */
.contact {
  overflow-x: hidden;
}
/* line 4, ../../templates/sass/specific/_contact.scss */
.contact header {
  position: relative;
}
/* line 8, ../../templates/sass/specific/_contact.scss */
.contact #block {
  margin: 55px 0;
}
/* line 12, ../../templates/sass/specific/_contact.scss */
.contact .messages {
  top: -29px;
  margin: 0 auto;
  width: 30%;
  padding: 10px;
  text-align: center;
  position: relative;
  background-color: #1b1e1f;
  color: white;
  font-weight: 400;
  font-size: 20px;
  border-radius: 8px;
}
/* line 28, ../../templates/sass/specific/_contact.scss */
.contact .contact_wrapper {
  width: 70%;
  height: 646px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
  box-shadow: 0 0 20px -7px #0000007a;
}
/* line 39, ../../templates/sass/specific/_contact.scss */
.contact .contact_wrapper .form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* line 45, ../../templates/sass/specific/_contact.scss */
.contact .contact_wrapper .form_wrapper form {
  width: 70%;
}
/* line 47, ../../templates/sass/specific/_contact.scss */
.contact .contact_wrapper .form_wrapper form div {
  margin-top: 20px;
  width: 100%;
}
/* line 52, ../../templates/sass/specific/_contact.scss */
.contact .contact_wrapper .form_wrapper form input, .contact .contact_wrapper .form_wrapper form textarea {
  width: 100%;
  padding: 15px;
  background-color: transparent;
  border: 1px solid black;
  resize: none;
}
/* line 62, ../../templates/sass/specific/_contact.scss */
.contact .contact_wrapper .form_wrapper form label {
  margin-top: 10px;
}
/* line 66, ../../templates/sass/specific/_contact.scss */
.contact .contact_wrapper .form_wrapper form input[type=submit] {
  width: 25%;
  margin-top: 15px;
  right: -33px;
  float: right;
  position: relative;
  background-color: #1b1e1f;
  color: #F7F7F7;
  font-weight: bold;
  border-radius: 8px;
}
@media (max-width: 576px) {
  /* line 88, ../../templates/sass/specific/_contact.scss */
  .contact .contact_wrapper {
    width: 95% !important;
  }
  /* line 90, ../../templates/sass/specific/_contact.scss */
  .contact .contact_wrapper .form_wrapper {
    width: 85% !important;
  }
  /* line 93, ../../templates/sass/specific/_contact.scss */
  .contact .contact_wrapper .form_wrapper form {
    width: 100% !important;
  }
  /* line 96, ../../templates/sass/specific/_contact.scss */
  .contact .contact_wrapper .form_wrapper form input[type=submit] {
    width: 50% !important;
    right: -25%;
    float: none;
  }
  /* line 102, ../../templates/sass/specific/_contact.scss */
  .contact .contact_wrapper .form_wrapper form div {
    width: 90% !important;
    margin: 20px auto !important;
  }
  /* line 107, ../../templates/sass/specific/_contact.scss */
  .contact .contact_wrapper .form_wrapper form input, .contact .contact_wrapper .form_wrapper form textarea {
    width: 90% !important;
  }
}
@media only screen and (min-width: 820px) and (max-width: 920px) {
  /* line 119, ../../templates/sass/specific/_contact.scss */
  .contact footer {
    bottom: 0;
  }
}

/* line 4, ../../templates/sass/specific/_CV.scss */
.cv #block {
  margin: 150px 0;
}
/* line 7, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 35px;
  background-color: #f7f7f7;
  box-shadow: 0 0 20px -7px #0000007a;
}
/* line 16, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .studies_wrapper, .cv #block .cv_wrapper .works_wrapper {
  margin: 0 auto;
}
/* line 19, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .studies_wrapper .title_wrapper, .cv #block .cv_wrapper .works_wrapper .title_wrapper {
  text-align: center;
}
/* line 23, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .studies_wrapper .studies, .cv #block .cv_wrapper .studies_wrapper .works, .cv #block .cv_wrapper .works_wrapper .studies, .cv #block .cv_wrapper .works_wrapper .works {
  margin: 65px auto;
  max-width: 700px;
}
/* line 27, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .studies_wrapper .studies h2, .cv #block .cv_wrapper .studies_wrapper .works h2, .cv #block .cv_wrapper .works_wrapper .studies h2, .cv #block .cv_wrapper .works_wrapper .works h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.41;
}
/* line 33, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .studies_wrapper .studies h3, .cv #block .cv_wrapper .studies_wrapper .works h3, .cv #block .cv_wrapper .works_wrapper .studies h3, .cv #block .cv_wrapper .works_wrapper .works h3 {
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.75;
  font-weight: 600;
}
/* line 40, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .studies_wrapper .studies p, .cv #block .cv_wrapper .studies_wrapper .works p, .cv #block .cv_wrapper .works_wrapper .studies p, .cv #block .cv_wrapper .works_wrapper .works p {
  font-size: 15px;
  line-height: 1.88;
}
/* line 48, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .langs_wrapper {
  text-align: center;
}
/* line 51, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .langs_wrapper h3 {
  font-size: 18px;
  line-height: 1.75;
}
/* line 57, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .langs_wrapper .languages {
  margin-top: 35px;
}
/* line 60, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .langs_wrapper .languages ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
/* line 65, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .langs_wrapper .languages ul li {
  font-size: 18px;
  line-height: 1.75;
}
/* line 77, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .skills_wrapper {
  margin: 100px 0;
}
/* line 80, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .skills_wrapper .title_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/* line 85, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .skills_wrapper .title_wrapper h3 {
  font-size: 18px;
}
/* line 90, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .skills_wrapper .skills_lists {
  display: flex;
  justify-content: space-evenly;
}
/* line 94, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .skills_wrapper .skills_lists ul {
  list-style: none;
}
/* line 97, ../../templates/sass/specific/_CV.scss */
.cv #block .cv_wrapper .skills_wrapper .skills_lists ul li {
  font-size: 18px;
  line-height: 1.75;
}

/* line 3, ../../templates/sass/specific/_portfolio.scss */
.portfolio #block {
  margin: 150px 0;
}
/* line 6, ../../templates/sass/specific/_portfolio.scss */
.portfolio #block .portfolio_wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #f7f7f7;
  box-shadow: 0 0 20px -7px #0000007a;
}
/* line 16, ../../templates/sass/specific/_portfolio.scss */
.portfolio #block .portfolio_wrapper .title_wrapper {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
  padding: 20px;
}
/* line 22, ../../templates/sass/specific/_portfolio.scss */
.portfolio #block .portfolio_wrapper .title_wrapper h1 {
  font-size: 60px;
  margin-bottom: 15px;
}
/* line 27, ../../templates/sass/specific/_portfolio.scss */
.portfolio #block .portfolio_wrapper .title_wrapper p {
  font-size: 20px;
  line-height: 1.4;
}
/* line 36, ../../templates/sass/specific/_portfolio.scss */
.portfolio #block .portfolio_wrapper .content_wrapper {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  grid-auto-rows: 400px 500px;
  justify-items: center;
  padding-bottom: 60px;
}
/* line 47, ../../templates/sass/specific/_portfolio.scss */
.portfolio #block .portfolio_wrapper .content_wrapper .img_wrapper {
  position: relative;
  border-radius: 5px;
}
/* line 50, ../../templates/sass/specific/_portfolio.scss */
.portfolio #block .portfolio_wrapper .content_wrapper .img_wrapper:hover {
  box-shadow: 0 0 20px -7px #0000007a;
}
/* line 54, ../../templates/sass/specific/_portfolio.scss */
.portfolio #block .portfolio_wrapper .content_wrapper .img_wrapper:hover img {
  opacity: .8;
}
/* line 59, ../../templates/sass/specific/_portfolio.scss */
.portfolio #block .portfolio_wrapper .content_wrapper .img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all .4s;
}
@media (max-width: 480px) {
  /* line 79, ../../templates/sass/specific/_portfolio.scss */
  .portfolio .content_wrapper {
    grid-template-columns: none !important;
    grid-gap: 40px !important;
    grid-auto-rows: auto !important;
  }
}

/* line 1, ../../templates/sass/specific/_gallery.scss */
.gallery {
  overflow-x: hidden;
}
/* line 3, ../../templates/sass/specific/_gallery.scss */
.gallery #block {
  margin: 150px 0;
}
/* line 6, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper {
  width: 95%;
  margin: 0 auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 20px -7px #0000007a;
}
/* line 13, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper .description_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 19, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper .description_wrapper .title_wrapper {
  position: relative;
  width: 75%;
  height: 100%;
  margin-left: 5px;
  margin-top: 5px;
}
/* line 29, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper .description_wrapper .title {
  padding: 15px;
  font-size: 50px;
}
/* line 34, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper .description_wrapper .subtitle_wrapper {
  padding: 15px;
}
/* line 37, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper .description_wrapper .subtitle_wrapper h3 {
  font-size: 25px;
  padding-bottom: 5px;
}
/* line 42, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper .description_wrapper .subtitle_wrapper .type {
  font-size: 18px;
}
/* line 48, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper .description_wrapper .date_wrapper {
  padding: 15px;
}
/* line 50, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper .description_wrapper .date_wrapper h3 {
  font-size: 25px;
  padding-bottom: 5px;
}
/* line 54, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper .description_wrapper .date_wrapper .date {
  font-size: 18px;
}
/* line 62, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper .description_text {
  height: 90%;
  position: relative;
  margin-left: 20px;
  width: 100%;
}
/* line 68, ../../templates/sass/specific/_gallery.scss */
.gallery #block .content_wrapper .description_text p {
  font-size: 20px;
  line-height: 1.4;
}
/* line 82, ../../templates/sass/specific/_gallery.scss */
.gallery #block .gallery_wrapper {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
/* line 91, ../../templates/sass/specific/_gallery.scss */
.gallery #block .gallery_wrapper .images_wrapper {
  margin: 0 auto;
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  width: 100%;
  padding: 15px;
}
/* line 99, ../../templates/sass/specific/_gallery.scss */
.gallery #block .gallery_wrapper .images_wrapper .img_wrapper {
  display: block;
  width: fit-content;
  padding: 3px;
  margin: 1%;
  border-radius: 5px;
  position: relative;
}
/* line 108, ../../templates/sass/specific/_gallery.scss */
.gallery #block .gallery_wrapper .images_wrapper .img_wrapper img {
  transition: all .6s;
}
/* line 111, ../../templates/sass/specific/_gallery.scss */
.gallery #block .gallery_wrapper .images_wrapper .img_wrapper img:hover {
  width: 100%;
  z-index: 3;
  margin: 2%;
}
/* line 115, ../../templates/sass/specific/_gallery.scss */
.gallery #block .gallery_wrapper .images_wrapper .img_wrapper img:hover img {
  box-shadow: 0 0 20px -7px #0000007a;
}
/* line 124, ../../templates/sass/specific/_gallery.scss */
.gallery #block .gallery_wrapper .images_wrapper .img_wrapper .modal.active {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 9998;
}
/* line 136, ../../templates/sass/specific/_gallery.scss */
.gallery #block .gallery_wrapper .images_wrapper .img_wrapper .modal.active img {
  transition: none;
  width: auto;
  height: auto;
  z-index: 9999;
}
/* line 144, ../../templates/sass/specific/_gallery.scss */
.gallery #block .gallery_wrapper .images_wrapper .img_wrapper .modal.active:after {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.308);
  z-index: 9998;
}
/* line 159, ../../templates/sass/specific/_gallery.scss */
.gallery #block .gallery_wrapper .images_wrapper .img_wrapper img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
@media (max-width: 480px) {
  /* line 178, ../../templates/sass/specific/_gallery.scss */
  .gallery .description_wrapper {
    align-items: flex-start !important;
    flex-direction: column;
  }
  /* line 182, ../../templates/sass/specific/_gallery.scss */
  .gallery .description_wrapper .description_text {
    width: auto !important;
    padding-right: 10px;
  }
  /* line 189, ../../templates/sass/specific/_gallery.scss */
  .gallery .images_wrapper {
    grid-template-columns: auto !important;
    gap: 10px;
  }
}
