/* line 1, ../../templates/sass/generic/_header.scss */
header {
  width: 100%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  transition: all .4s;
  color: black;
  background-color: white;
  opacity: .9;
}
/* line 17, ../../templates/sass/generic/_header.scss */
header .title_wrapper a {
  text-decoration: none;
  color: black;
}
/* line 25, ../../templates/sass/generic/_header.scss */
header nav {
  height: fit-content;
  padding-right: 65px;
  font-size: 15px;
}
/* line 30, ../../templates/sass/generic/_header.scss */
header nav ul {
  list-style: none;
  text-decoration: none;
}
/* line 34, ../../templates/sass/generic/_header.scss */
header nav ul li {
  line-height: 40px;
  float: left;
  transition: all .4s;
}
/* line 39, ../../templates/sass/generic/_header.scss */
header nav ul li:hover {
  border-bottom: 1px solid red;
}
/* line 43, ../../templates/sass/generic/_header.scss */
header nav ul li:hover a {
  box-shadow: 10px black;
  font-size: 20px;
}
/* line 51, ../../templates/sass/generic/_header.scss */
header nav ul li a {
  padding: 0px 35px;
  color: black;
  font-weight: bold;
  font-size: 17px;
  transition: all .4s;
}
/* line 64, ../../templates/sass/generic/_header.scss */
header .title_wrapper {
  padding: 0px 85px;
  /*logo title*/
}
/* line 69, ../../templates/sass/generic/_header.scss */
header .title_wrapper h1 {
  display: block;
  letter-spacing: 2px;
  float: left;
  color: #2ba977;
  font-weight: 500;
}

/* line 2, ../../templates/sass/generic/_general.scss */
* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

/* line 9, ../../templates/sass/generic/_general.scss */
body {
  background-color: #f2f2f2;
}

/* line 1, ../../templates/sass/generic/_footer.scss */
footer {
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  background-color: #1b1e1f;
  border: 1px solid #333;
  color: #d1d4d6;
  text-align: center;
}
/* line 14, ../../templates/sass/generic/_footer.scss */
footer div {
  margin: 0 auto;
  width: 30%;
  margin-top: 10px;
}
/* line 20, ../../templates/sass/generic/_footer.scss */
footer .social {
  width: 50%;
  font-size: 30px;
}
/* line 24, ../../templates/sass/generic/_footer.scss */
footer .social a {
  margin: auto 10px;
}
/* line 27, ../../templates/sass/generic/_footer.scss */
footer .social a i {
  color: #d1d4d6;
}

/* line 1, ../../templates/sass/generic/_content.scss */
#block {
  width: 100%;
  min-height: fit-content;
  margin: 0 auto;
  position: relative;
}

/* line 2, ../../templates/sass/specific/_home.scss */
.home header {
  color: #d1d4d6;
  background-color: transparent !important;
}
/* line 7, ../../templates/sass/specific/_home.scss */
.home header.solid {
  background-color: #d1d4d6 !important;
  color: black;
}
/* line 11, ../../templates/sass/specific/_home.scss */
.home header.solid a {
  color: black;
}
/* line 16, ../../templates/sass/specific/_home.scss */
.home header a {
  color: #d1d4d6;
}
/* line 22, ../../templates/sass/specific/_home.scss */
.home #block .banner_home {
  width: 100%;
  height: 900px;
  margin: 0 auto;
  background-image: url("../../static/images/banner_home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 32, ../../templates/sass/specific/_home.scss */
.home #block .desc_wrapper {
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37322E;
}
/* line 39, ../../templates/sass/specific/_home.scss */
.home #block .desc_wrapper .content {
  height: 300px;
  width: 50%;
  text-align: center;
}
/* line 45, ../../templates/sass/specific/_home.scss */
.home #block .desc_wrapper .content .icon {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}
/* line 51, ../../templates/sass/specific/_home.scss */
.home #block .desc_wrapper .content .desc {
  width: fit-content;
  height: fit-content;
  margin: 50px auto;
  font-size: 22px;
  line-height: 30px;
  color: white;
}
/* line 60, ../../templates/sass/specific/_home.scss */
.home #block .desc_wrapper .content .desc .subtitle {
  margin-top: 30px;
}

/* line 2, ../../templates/sass/specific/_about.scss */
.about header {
  position: relative;
}
/* line 6, ../../templates/sass/specific/_about.scss */
.about #block {
  top: 54px;
}
/* line 8, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper {
  width: 90%;
  height: 606px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  box-shadow: 0 0 20px -7px #0000007a;
}
/* line 16, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .image {
  width: 50%;
  height: 100%;
  position: relative;
}
/* line 20, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 29, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper {
  width: 50%;
  height: 100%;
  overflow: auto;
}
/* line 34, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content {
  margin: 0 auto;
  position: relative;
  width: fit-content;
  padding: 40px;
  top: 90px;
  left: 40px;
}
/* line 42, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content .title {
  word-break: normal;
}
/* line 45, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content .title h1 {
  font-size: 40px;
  line-height: 1.35;
}
/* line 51, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content .subtitle {
  width: fit-content;
  margin: 10px 0;
}
/* line 54, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content .subtitle h3 {
  font-size: 18px;
  line-height: 1.75;
}
/* line 60, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content .description {
  width: 460px;
  height: 253px;
}
/* line 64, ../../templates/sass/specific/_about.scss */
.about #block .section_wrapper .desc_wrapper .content .description p {
  line-height: 1.88;
  font-size: 15px;
}
/* line 76, ../../templates/sass/specific/_about.scss */
.about footer {
  position: relative;
  top: 109px;
}

/* line 2, ../../templates/sass/specific/_contact.scss */
.contact #block {
  top: 126px;
}
/* line 5, ../../templates/sass/specific/_contact.scss */
.contact .contact_wrapper {
  width: 90%;
  height: 646px;
  margin: 0 auto;
  background-color: aqua;
}
