{% extends 'layout.html' %}

{% block content %}
    <body class="about">
        
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 
    <div class="cont_wrapper">

        <div class="image">
            <img src="" alt="">
        </div>
        

         <div class="desc_wrapper">

            <div class="title">
                <h1></h1>
            </div>
            
            <div class="subtitle">
                <h3></h3>
            </div>
            
            <div class="description">
                <p></p>
            </div>
        </div>
        
    </div>
</body>
{% endblock content %}