{% extends 'layout.html' %}

{% block content %}

    <body class="cv">
        
        <div class="cv_wrapper">
            
            <div class="studies_wrapper">
                <div class="title_wrapper">
                    <h1>CV</h1>
                    <h2>EDUCATION</h2>
                </div>

                
                    {% for study in studies %}
                    <div class="studies">
                        <h2>{{study.title}}</h2>
                        
                        <h3>{{study.subtitle}}</h3>
                        
                        <p>{{study.description}}</p>

                    </div>    
                    {% endfor %}
            </div>
            
            <div class="skills_wrapper">
                <div class="title_wrapper">
                    <h3 >Software Skills</h3>
                </div>
                <div class="skills_lists">
                    <ul>
                        {% for skill in skills.right  %}
                        <li>{{skill.title}}</li>
                        {% endfor %}
                    </ul>
                    
                    <ul>
                        {% for skill in skills.left  %}
                        <li>{{skill.title}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            





            <div class="works_wrapper">
                <div class="title_wrapper">
                    <h1>CV</h1>
                    <h2>WORK EXPERIENCE</h2>
                </div>

                
                    {% for work in works %}
                    <div class="works">
                        <h2>{{work.title}}</h2>
                        
                        <h3>{{work.subtitle}}</h3>
                        
                        <p>{{work.description|safe}}</p>

                    </div>    
                    {% endfor %}
            </div> 


            <div class="langs_wrapper">
                <h3>Lenguages</h3>
                <div class="languages">
                    <ul>
                        <li>Spanish</li>
                        <li>English</li>
                        <li>German</li>
                    </ul>
                </div>
            </div>


        </div>
        
    </body>

{% endblock content %}