
{% extends 'layout.html' %}
{% load static %}

{% block content %}
<body class="home">
    <div class="banner_home">
        BANNER-HOME
    </div>
    
    <div class="desc_wrapper">
        <div class="content">
            <div class="icon">
                <img src="{% static 'images/comillas.png' %}" alt="">
            </div>
            <div class="desc">
                <p>"Create images, sounds and sensations in a symbiosis. <br>

                    Our purpose is to create sensations with art"</p>
                <div class="subtitle">
                    <p>-Leinen Vision-</p>
                </div>
            </div>
        </div>
        
    </div>
</body>
    

{% endblock %}