{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="static" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="title_wrapper">
            <h2>Alvaro Leinen</h2>
        </div>

        <nav>
            <ul>
                <li>About</li>
            </ul>
            <ul>
                <li>Portafolio</li>
            </ul>
            <ul>
                <li>Experincia</li>
            </ul>
            <ul>
                <li>contacto</li>
            </ul>
        </nav>

    </header>
</body>
</html>