
{% extends 'layout.html' %}
{% load static %}

{% block content %}
<body class="home">
    <div class="banner_home" >
        BANNER-HOME la conccha de tu pputa madre<i class="fa-solid fa-chevron-right"></i>
    </div>
    
    <div class="desc_wrapper">
        <div class="content">
            <div class="icon">
                <img src="{% static 'images/comillas.png' %}" alt="">
            </div>
            <div class="desc">
                <p>"Create images, sounds and sensations in a symbiosis. <br>

                    Our purpose is to create sensations with art"</p>
                <div class="subtitle">
                    <p>-Leinen Vision-</p>
                </div>
            </div>
        </div>
        
    </div>


    <div class="carousel_wrapper">
        <div class="owl-carousel owl-theme">

            {% for album in albums %}
                <div class="item">
                        <img src="{{ album.front.url }}" alt="{{ album.title }}">
                        <div class="see_more">
                            <a href="{% url 'gallery' album.id %}">
                                <h3>Ver más --></h3>
                            </a>  
                        </div>
                </div>
            {% endfor %}

            <div class="item">
                
                <img src="{% static 'images/hamood.png' %}" alt="">

            

            </div>
            <div class="item">
                
                <img src="{% static 'images/hamood.png' %}" alt="">
            </div>
            <div class="item">
                
                <img src="{% static 'images/hamood.png' %}" alt="">
            </div>
            <div class="item">
                
                <img src="{% static 'images/hamood.png' %}" alt="">
            </div>
           
            
        </div>
    </div>



</body>
    

{% endblock %}