{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/229ae1f3a8.js" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>
<body id="leinen_web">
    <header>
        <div class="title_wrapper">
            <h2><a href="{% url 'home' %}">Alvaro Leinen</a></h2>
        </div>

        <nav>
            <ul>
                <li>
                <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="">Portafolio</a>
                </li>
                <li>
                    <a href="">Experincia</a>
                </li>
                <li>
                    <a href="">contacto</a>
                </li>
            </ul>
        </nav>

    </header>
   
    <div id="block">
        
            
        {% block content %}
            <!-- contenido que viene de los templates -->
        {% endblock %}
            
    </div>


    <footer>
        <div class="title">Alvaro Leinen</div>
        <div class="mail">laconchatumadre@lalora.com</div>
        <div class="social">
            <a href="">
                <i class="fa-brands fa-instagram"></i>            
            </a>
            <a href="">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>