{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <body class="portfolio">
        <div class="portfolio_wrapper">
            <div class="title_wrapper">
                <h1 class="title">Mi Portafolio</h1>

                <p class="subtitle">Bienvenido a mi portafolio. Aquí encontrarás una selección de mis trabajos. <br> 
                    Explora mis proyectos para saber más sobre lo que hago.</p>
            </div>

            <div class="content_wrapper">
                
                <div class="img_wrapper">
                    <img src="{% static 'images/hamood.png' %}" alt="">
                </div>
                <div class="img_wrapper">
                    <img src="{% static 'images/hamood.png' %}" alt="">
                </div>
                <div class="img_wrapper">
                    <img src="{% static 'images/hamood.png' %}" alt="">
                </div>
                <div class="img_wrapper">
                    <img src="{% static 'images/hamood.png' %}" alt="">
                </div>
                <div class="img_wrapper">
                    <img src="{% static 'images/hamood.png' %}" alt="">
                </div>
                <div class="img_wrapper">
                    <img src="{% static 'images/hamood.png' %}" alt="">
                </div>
                <div class="img_wrapper">
                    <img src="{% static 'images/hamood.png' %}" alt="">
                </div>
               
            </div>


        </div>
    </body>
{% endblock content %}